
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  padding: 20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

.herb-detail {
  margin: 0 auto;
  padding: 20px;
  max-width: 600px; /* Set a max-width for larger screens */
  word-wrap: break-word; /* Older browsers */
  overflow-wrap: break-word; /* Modern browsers */
}

.herb-info div {
  margin-bottom: 10px;
}

/* Media query for small screens */
@media (max-width: 600px) {
  .herb-detail {
    padding: 10px;
  }

  .herb-info div {
    font-size: 14px; /* Smaller font size on small screens */
  }
}

